@font-face {
    font-family:PTSANSNARROW;
    src: url(fonts/ptsansnarrowbold.woff);
}

* {
    font-family:PTSANSNARROW;
    color: #000000;
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
}
.container {
    width: 950px;
    margin: 0 auto;
}
.wrapper {
    background: url(img/bg.jpg);
    background-position: -2px 70px;
    padding-bottom: 30px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
header {
    background: #000000;
    height:  75px;
    min-width: 950px;
    margin: 0;
    padding: 0;
}
footer {
    height: 200px;
    background-color: #1f1f1f;
}
.header__menu-item {
    display: inline-block;
    color: #ffffff;
    margin-top: 15px;
    text-decoration: none;
    float: left;
    margin-right: 35px;
}
.header__auth-login {
    float: right;
    color: #ffffff;
    margin-top: 30px;
    margin-right: 25px;
}
.header__auth-logout {
    float: right;
    color: #ffffff;
    margin-top: 33px;
    margin-right: 10px;
}
.main__logo {
    margin-left: 290px;
    margin-top: 62px;
}
.main__desc-item {
    display: inline-block;
    width: 28%;
    text-align: center;
    line-height: 23px;
    margin-bottom: 80px;
}
.main__item-rhomb {
    margin: 20px 0 30px 0;
}
.main__item-title {
    font-size: 30px;
    color: #fff;
}
.main__item-desc {
    font-size: 14px;
    color: #fff;
}
.desc_item-cool {
    margin: 0px 35px 0px 60px;
}
.main__info-object {
    background: #ffffff;
    margin-bottom: 50px;
    font-size: 14px;
}
.main__object-news {
    width: 40%;
    float: left;
    margin-left: 80px;
}
.main__object-gallery {
    width: 40%;
    float: right;
}
.main__object-contacts {
    width: 40%;
    float: left;
    line-height: 25px;
    margin-left: 80px;
}
.main__object-register {
    width: 300px;
    float: right;
    margin-right: 70px;
    line-height: 25px
}
.main__news-title {
    font-size: 30px;
    margin-bottom: 35px;
    margin-top: 55px;
}
.main__news-event {
    margin-bottom: 35px;
    line-height: 22px;
}
.main__gallery-title {
    font-size: 30px;
    margin-bottom: 35px;
    margin-top: 55px;
}
.main__gallery-bg {
    margin-bottom: 50px;
}
.main__contacts-title {
    font-size: 30px;
    margin-bottom: 35px;
    margin-top: 55px;
}
.main__contacts-adres {
    margin-bottom: 35px;
}
.main__contacts-worktime {
    margin-bottom: 35px;
}
.main__register-title {
    font-size: 30px;
    margin-bottom: 35px;
    margin-top: 55px;
}
.main__register-desc {
    margin-bottom: 30px;
}
.main__object-button {
    background: #000000;
    color: #fff;
    padding: 14px 35px;
    margin-bottom: 60px;
    margin-right: 20px;
}
.main__object-buttons {
    margin-bottom: 60px;
}
.register__form-text {
    outline-color: rgb(224, 74, 187);
    outline-width: 2px;
    border: 2px solid #000000;
    width: 125px;
    height: 40px;
    padding: 0px 0px 0 10px;
    margin: 0px 0px 20px 0;
}
input.register__form-text::placeholder {
    color: black;
}
form input:nth-child(1),form input:nth-child(3) {
    margin-right: 18px;
}
.register__form-sumbit {
    width: 300px;
    height: 45px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
}
.footer__desc div{
    color: #fff;
    line-height: 25px;
}
.footer__socials,.footer__creator{
    padding-top: 70px;
    float: left;
    width: 30%;
}
.footer__desc {
    padding-top: 70px;
    float: left;
    width: 40%;
}
.footer__socials-title {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.footer__socials-list li {
    display: inline-block;
}
.footer__creator {
    margin-top: 30px;
}
.footer__creator-name {
    color: #fff;
    margin-left: 90px;
    background-color: #000000;
    padding: 15px 20px;
}
.footer__socials-item {
    background: url(img/bgicons.png);
    width: 50px;
    height: 50px;
    margin-left: 5px;
}
.footer_vk {
    margin-left: 59px;
}
.footer__socials-vk {
    display: block;
    margin:16px auto;
}
.footer__socials-fb {
    display: block;
    margin:13px auto;
}
.footer__socials-in {
    display: block;
    margin:14px auto;
}
