@font-face {
    font-family:PTSANSNARROW;
    src: url(/fonts/ptsansnarrowbold.woff);
}

* {
    font-family:PTSANSNARROW;
    color: #000000;
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f5f2;
}
.container {
    width: 950px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
header {
    background: #000000;
    height:  75px;
    min-width: 950px;
}
footer {
    background-color:#221f1f;
    position: relative; 
    left: 0px;
    bottom: 0px; 
    background-size: 100%;
    height: 200px;
    margin-top: -200px;
}
.wrapper {
    min-height: 100%;
}
.header__menu-item {
    display: inline-block;
    color: #ffffff;
    margin-top: 30px;
    text-decoration: none;
    float: left;
    margin-right: 45px;
}
.header__menu-link {
    color: #ffffff;
    text-decoration: none;
}
.header__auth-login {
    float: right;
    color: #ffffff;
    margin-top: 30px;
    margin-right: 25px;
}
.header__auth-logout {
    float: right;
    color: #ffffff;
    margin-top: 33px;
    margin-right: 10px;
}
.header__logo {
    float: left;
    margin-top: 29px;
    margin-right: 40px;
}
.footer__desc div{
    color: #fff;
    line-height: 25px;
}
.footer__socials,.footer__creator{
    padding-top: 60px;
    float: left;
    width: 30%;
}
.footer__desc {
    padding-top: 60px;
    float: left;
    width: 40%;
}
.footer__socials-title {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.footer__socials-list li {
    display: inline-block;
}
.footer__creator {
    margin-top: 30px;
}
.footer__creator-name {
    color: #fff;
    margin-left: 90px;
    background-color: #000000;
    padding: 15px 20px;
}
.footer__socials-item {
    background: url(/img/bgicons.png);
    width: 50px;
    height: 50px;
    margin-left: 5px;
}
.footer_vk {
    margin-left: 59px;
}
.footer__socials-vk {
    display: block;
    margin:16px auto;
}
.footer__socials-fb {
    display: block;
    margin:13px auto;
}
.footer__socials-in {
    display: block;
    margin:14px auto;
}
.main__nav-item {
    display: inline-block;
}
.main__nav-item:nth-child(1)::after,.main__nav-item:nth-child(2)::after {
    content: "";
    background: url(../../img/rhomp.png) no-repeat;
    width: 11px;
    height: 12px;
    display: inline-block;
    margin: 0 10px;
}
.main__shop-title {
    margin-bottom: 30px;
    margin-top: 60px;
}
.main__manufacturer {
    float: left;
    width: 250px;
}
.main__product-group {
    float: left;
    clear: left;
    width: 250px;
}
.main__manufacturer-list{
    list-style: none;
}
.main__manufacturer-title,.main__product-group-title{
    margin: 60px 0 35px 0;
}
.main__product-group-list {
    list-style: none;
}
.main__catalog-products {
    float: right;  
}
.main__catalog-products-list {
    width: 700px;
    margin-top: 68px;
}
.main__catalog-products-list li {
    list-style: none;
    display: inline-block;
    width: 220px;
    vertical-align: top;
    background-color: #ffffff;
    box-shadow: 0 0 17px rgba(0,0,0,0.2);
    margin: 0px 11px 25px 0px;
}
.main__catalog-products-img {
    background: #000000;
    background-blend-mode: screen; 
}
.item-right {
    margin: 0;
}
.product-group__form-object {
    display: block;
    margin-bottom: 25px;
    padding-left: 30px;
    position: relative;
}
.product-group__form-object::before {
    background: url(../../img/leftsprite.png) no-repeat;
    background-position: -56px 0;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: -5px;
}
.product-group__form-object::after {
    background: url(../../img/leftsprite.png) no-repeat;
    background-position: -56px -33px;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: -5px;
}

input[type="radio"] {
    display: none;
}